html {
	border: none;
	outline: none;
}

.weather-block {
	background-color: rgba(40, 63, 107, 0.7);
	color: white;
	margin: 2.5px;
	width: 20%;
	height: 25%;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s ease;
	border-radius: 15px;
}

.weather-block:hover {
	margin: 0 12px;
}

#weather-selected {
	background-color: rgb(101, 148, 239);
	color: white;
	transform: scale(1.075);
	margin: 0 12px;
}

#weather-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow: scroll;
	overflow: visible;
}

#area {
	text-align: center;
	background-color: rgb(101, 148, 239);
	padding: 10px 0;
	color: white;
	box-shadow: 0 5px 0px black;
}

#area img {
	width: 1em;
	height: 1em;
	margin-left: 5px;
	vertical-align: text-bottom;
	cursor: pointer;
	transition: all 0.2s ease-out;
	border-radius: 100px;
	filter: invert(1);
}

#area img:hover {
	transform: rotate(135deg);
}

@media only screen and (max-width: 800px) {
	#weather-container {
		flex-flow: row nowrap;
		overflow: scroll;
		width: 100%;
	}

	.weather-block {
		width: 75%;
		border-radius: 0;
	}
}
