html {
	border: none;
	outline: none;
}

#description {
	display: flex;
	flex-direction: row;
	border: 1px solid white;
	border-radius: 15px;
	padding: 0 10px;
}
#large-info {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	overflow: hidden;
	margin: 15px auto;
	margin-top: -1px;
	padding-top: 15px;
	text-align: center;
	background-color: rgb(101, 148, 239);
	color: white;
	width: 100%;
}

#large-info img {
	display: block;
	padding: 0 10px;
	width: 100%;
	height: auto;
	object-fit: scale-down;
}

#small-data {
	display: flex;
	flex-direction: row;
	align-items: space-around;
}

#description-small {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.grid-small {
	margin: 10px;
	/* background-color: #eeeeee; */
	padding: 10px;
	border-radius: 15px;
}

.subtitle {
	color: rgb(199, 199, 199);
}

@media only screen and (max-width: 800px) {
	#description {
		border: none;
		flex-flow: column wrap;
		justify-content: center;
		width: 75%;
	}

	#large-info img {
		margin: 0 auto;
		display: inline;
		width: 25%;
		padding: 0;
	}

	#description div {
		padding: 0;
	}

	#description hr {
		display: none;
	}

	#description-small {
		flex-flow: row wrap;
	}

	#small-data {
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}

	#small-data div {
		font-size: 18px;
	}
}
