#description {
	display: flex;
	flex-direction: row;
	border: 1px solid white;
	border-radius: 15px;
	padding: 0 10px;
}
#large-info {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	overflow: hidden;
	margin: 15px auto;
	margin-top: 0;
	padding-top: 15px;
	text-align: center;
	background-color: rgb(101, 148, 239);
	color: white;
	width: 100%;
}

#large-info img {
	display: block;
	padding: 0 10px;
	width: 100%;
	height: auto;
	object-fit: scale-down;
}

#small-data {
	display: flex;
	flex-direction: row;
	align-items: space-around;
}

.grid-small {
	margin: 10px;
	/* background-color: #eeeeee; */
	padding: 10px;
	border-radius: 15px;
}

.subtitle {
	color: rgb(199, 199, 199);
}
