@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	font-family: 'Montserrat', 'Georgia', serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

#creds {
	width: 40px;
	height: auto;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	right: 50%;
	margin: -5px -25px;
	padding-bottom: 15px;
}
